@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Space Mono', monospace;
}

body {
  width: 100%;
  height: 100vh;

  font-size: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background: var(--bg-color);
}

:root {

  --strong-cyan: hsl(172, 67%, 45%);
  --constrast-color: hsl(183, 100%, 15%);

  --font-input-color-i: hsl(183, 100%, 15%);

  --font-input-color: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --bg-color: hsl(185, 41%, 84%);
  --input-bg-color: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

h1 {
  font-size: 1.1em;
  line-height: 1.2em;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 700;

  color: var(--font-input-color);

}

input[type=number]{
  appearance: none;
  border: none;
  outline: none;

  color: var(--font-input-color);
  background: none;
  
  font-weight: 700;
  font-size: 1em;

}
#one, #two{
  color: var(--font-input-color-i);

}
/*serve para tirar as setas chatas que ficam de quando a text box é do tipo number*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

main {
  width: 70%;
  max-width: 900px;
  background: var(--white);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  border-radius: 20px;

  transform: translateY(1.5rem);
}

form {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 30px;
}


#bill-content,
#count-content {

  height: 345px;
  flex: 1;
}

#bill-content .bill label {
  font-size: .6em;
  font-weight: 700;
  color: var(--font-input-color);
}

#one.active, #two.active, #custom-porcent.active{
  border: 2px solid rgb(248, 64, 64);
}

#one.active:valid, 
#two.active:valid, 
#custom-porcent.porcent:valid{
  border: 2px solid var(--input-bg-color);
}

#one, #two{
  border: 2px solid var(--input-bg-color);
  width: 100%;
  padding: 2px 12px;
  border-radius: 6px;
  background: var(--input-bg-color);

  text-align: end;

}

#one:focus, #two:focus{
  border: 2px solid var(--strong-cyan);

}

.bill-input, .people-input{
  position: relative;
  width: 100%;
  height: 100%;
}

.bill-input img, .people-input img{
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translate(0, -50%);
}

/*alert can't be 0 value*/
.people-input p, .bill-input p{
  color: rgb(233, 30, 30);
  font-size: .6em;
  position: absolute;
  right: 10px;
  top: -25px;
  opacity: 0;
  /* display: none; */
  transform: translateX(20px);
  
  transition: all .3s ease-in;
}

.bill-input:hover p, .people-input:hover p{
  /* display: block; */
  opacity: 1;
  transform: translateX(0);

}


/*PORCENT CONTENT*/
.porcent-content {
  padding: 30px 30px 30px 0;
}

.porcent-content span {
  font-size: .6em;
  font-weight: 700;
  color: var(--font-input-color);
}

.porcent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  align-items: center;
}

.porcent .porcent-item {
  padding: 3px 5px;
  border-radius: 5px;
  border: none;

  color: var(--white);
  font-weight: 700;
  font-size: .9em;

  background: var(--constrast-color);

  cursor: pointer;
  transition: all .3s ease;
}


.porcent .porcent-item:focus,
.porcent-item:hover {
  background: var(--strong-cyan);
  color: var(--constrast-color);
}

.porcent #custom-porcent {
  width: 100%;
  text-align: center;
  padding: 2px;
  letter-spacing: 1px;

  color: var(--font-input-color);
  background: var(--input-bg-color);
  border: 2px solid var(--input-bg-color);

  text-transform: capitalize;
}

#custom-porcent:focus,
#custom-porcent:hover {

  border: 2px solid var(--strong-cyan);
}

.num-people label {
  font-size: .6em;
  font-weight: 700;
  color: var(--font-input-color);
}

/*==============RIGHT SIDE====================*/

#count-content {
  background: var(--constrast-color);
  padding: 15px 30px;
  border-radius: 10px;
  color: var(--white);
  position: relative;
}

#count-content h3 {
  font-size: .6em;
  font-weight: 700;
  text-transform: capitalize;
}

#count-content p {
  font-size: .5em;
  color: var(--font-input-color);
}

.tip-amount-content,
.total-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#count-content .cotage span {
  font-size: 2em;
  font-weight: 700;
  color: var(--strong-cyan)
}

.reset {
  position: absolute;
  bottom: 30px;
  height: 50px;
  width: calc(100% - 60px);
  /*this '-60px' is the sum of laterals padding*/

  text-transform: uppercase;
  font-weight: 700;

  outline: none;
  border: none;

  background: var(--strong-cyan);
  color: var(--constrast-color);
  border-radius: 5px;
  font-size: .9em;

}

.reset:disabled {
  opacity: 50%;
}

.reset:enabled {
  cursor: pointer;
}

/*=========FOOTER=======*/
footer {
  font-size: .6em;
  position: absolute;
  bottom: 10px;
  color: white;
  font-weight: 400;
  text-shadow:  0 0 10px rgba(0,0,0,0.3);
}
footer a{
  text-decoration: none;
  color: white;
  
}
footer a:last-child{
  color: var(--constrast-color);
  font-weight: 700;
  position: relative;
}

footer a:last-child::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: var(--constrast-color);

  transition: all .3s;
  transform-origin: center;
}
footer a:last-child:hover::after{
  width: 100%;
}


