@media(min-width: 1920px) {
  body {
    height: 100vh;
  }

  main,
  footer {
    transform: scale(1.3);
  }

  h1 {
    position: absolute;
    top: 10vh;
    font-size: 1.5em;
  }
}

@media(max-width: 1115px) {

  body {
    height: auto;
  }

  h1 {
    padding: 10px;
  }

  footer {
    position: relative;
    margin: 50px 0 10px 0;
  }
}

@media(max-width: 900px) {
  .porcent-content {
    padding-right: 0;
  }

  #count-content .cotage span {
    font-size: 1.4em;
    line-height: 2em;
  }

  #count-content{
    height: 280px;
  }
}

@media(max-width: 486px) {
  main {
    width: 80%;
  }

  .porcent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  form {
    padding: 20px;
    gap: calc(30px + 44px + 10px);
    /* == 84px*/

  }
}

@media(max-width: 400px) {
  body {
    font-size: 22px;
  }

  main {
    width: 100%;
    margin-bottom: 30px;
    /* flex-wrap: wrap; */
  }

  #bill-content,
  #count-content {
    width: 100%;
  }

  #count-content {
    height: 260px;
    padding: 15px 20px;
  }

  .reset {
    width: calc(100% - 40px);
  }

  footer {
    margin: 0 auto;
    padding: 10px;
  }
}